@model IEnumerable<ROUTEJOBS1.Models.JOB>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateJob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESTINATION.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEE.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warehouse.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateJob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESTINATION.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEE.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warehouse.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
